<h1>New Supply Deliver</h1>

<% unless (@company.count == 0) || (@product.count == 0) %>
  <%= render 'form', supply_deliver: @supply_deliver %>
<% else %>  
  <h3>NO Company Encoded  or no product encoded.</h3>
<% end %>



