<div class="section">
  <div class="section-header">
    <%= link_to "Back", supply_delivers_path, class: "btn-back" %>
    <h1>New Supply Deliver</h1>
  
  </div>

<% unless (@company.count == 0) || (@product.count == 0) %>
  <%= render 'form', supply_deliver: @supply_deliver %>
<% else %>  
  <h3>NO Company Encoded  or no product encoded.</h3>
<% end %>

</div>