<table class="table">
  <caption>Item Record</caption>
  <thead>
    <tr>
      <th>Barcode</th>
      <th>Description</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
  <% @item_inventories.each do |i| %>
    <tr>
      <td><%= i.product.id %> </td>
      <td><%= i.product.description %></td>
      <td><%= i.quantity %> </td>

    </tr>
    <% end %>
  </tbody>
</table> 