<div class="section">
  <div class="section-header">
    
    <%=  link_to 'Back', sale_transactions_path, class: "btn-back" %>
    <h1>Editing Sale Transaction</h1>
  </div>

<%= render 'form', sale_transaction: @sale_transaction %>



</div>