
/* Common Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  font-size: 1.8rem;
  
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: rgba(221, 221, 221, 0.5);
}
/* End of Common Styles */

.logo {
  height: 7vh;
  background-color: #000;
  color: #FFF;
  font-size: 3.5rem;
  padding-top: 0.5rem;
  font-family: "MADE Soulmaze";
}

.logo span {
  color: #9e0e09;
  font-size: 3.5rem;
  padding-top: 0.5rem;
  font-family: "MADE Soulmaze";  
}


.container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  margin: 0;
  background: #c1c1c1;
  width: 200px;
  height: 93vh;
}

.sidebar a {
  text-decoration: none;
  color: #000;
  // padding: 0 0.5rem;
}

.sidebar ul {
  // line-height: 40px;
  // overflow: hidden;
  margin-left: 0;
  padding-left: 0;
}

.sidebar ul li {
  color: #000;
  margin: 0;
  padding-left: .5rem;
  font-size: 2rem;
  letter-spacing: .1rem;
}

.listItemA {
  height: 40px;
}

.listItemA:hover {
  left: 0;
  background-color: #9e0e09;
}

.main {
  width: 100%;
  margin: 20px;
}


.header {
  font-size: 3.2rem;
  font-weight: bold;
  color: #9e0e09;
  font-family: "MADE Soulmaze";
  background-color: rgba(0, 0, 0, 0.4);
  // background-color: #ddd;
  text-align: center;
}

// table
.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 0;
  margin-left: 50%;
  transform: translateX(-50%);

}


.table td, .table th {
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 8px;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

//end of table
// form

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=number] {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

textarea {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 138px;
  width: 100%;
}


label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-size: 2rem;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 1.2rem 2rem;
  margin: 1rem 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Clear floats after the columns */
.field:after {
  content: "";
  display: table;
  clear: both;
}

// button
.btn-create {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: .75rem 1rem;
  margin: 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.btn-create:hover {
  background-color: #9e0e09;
}