
/* Common Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  font-size: 1.8rem;
  
}

:root {
  --mintgreen: #AEF78E;
  --teagreen: #CAFFB9;
  --shamrock: #66A182;
  --junebud: #C0D461;
  --background: #fff;
  --shadow: rgba(0, 0, 0, 0.658);
  --font: #000;

}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: var(--background)
}
/* End of Common Styles */

.container {
  display: flex;
  flex-direction: row;
}








// .main {
//   width: 100%;
//   margin: 20px;
// }


// .header {
//   font-size: 3.2rem;
//   font-weight: bold;
//   color: #9e0e09;
//   font-family: "MADE Soulmaze";
//   background-color: rgba(0, 0, 0, 0.4);
//   // background-color: #ddd;
//   text-align: center;
// }

// // table
// .table {
//   font-family: Arial, Helvetica, sans-serif;
//   border-collapse: collapse;
//   width: 100%;
//   margin-top: 0;
//   margin-left: 50%;
//   transform: translateX(-50%);

// }


// .table td, .table th {
//   border: 1px solid rgba(0, 0, 0, 0.4);
//   padding: 8px;
// }

// .table tr:nth-child(even){background-color: #f2f2f2;}

// .table tr:hover {background-color: #ddd;}

// .table th {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   text-align: left;
//   background-color: rgba(0, 0, 0, 0.4);
//   color: white;
// }

// //end of table
// // form


