.sidebar {
  margin: 0;
  background: #c1c1c1;
  width: 200px;
  height: 93vh;

  .listItemA {
    height: 40px;
    color: var(--font);
    padding: 1rem 1rem;
  }

  .listItemA:hover {
    left: 0;
    background-color: var(--junebud);
  }
}

// .sidebar a:link {
//   text-decoration: none;
//   color: #000;
//   // padding: 0 0.5rem;
// }

  


// .sidebar ul {
//   // line-height: 40px;
//   // overflow: hidden;
//   margin-left: 0;
//   padding-left: 0;
// }

// .sidebar ul li {
//   color: #000;
//   margin: 0;
//   padding-left: .5rem;
//   font-size: 2rem;
//   letter-spacing: .1rem;
// }